In [21]:
import pandas as pd
import sys

sys.path.append("..")
from common.constants import DATAFOLDER, ASSET_INFO

In [27]:
data_folder = DATAFOLDER.raw_data_root_path
asset_info = ASSET_INFO.asset_info
print(asset_info)
btcusdt = list(asset_info.keys())[0]
import os
data_folder = os.path.join(data_folder, btcusdt)

file_bytes = 0
csv_files = []
for csv_f in os.listdir(data_folder):
    csv_files.append(os.path.join(data_folder, csv_f))
    file_bytes += os.path.getsize(os.path.join(data_folder, csv_f))

print(file_bytes // 10**6, "MB")

{'BTCUSDT': {}}
17 MB

In [23]:
sample_csv = csv_f

_columns = ["OpenTime", "Open", "High", "Low", "Close", "Volume", "CloseTime", "QuoteAssetVolume", "NumberOfTrades", "TakerBuyBaseAssetVolume", "TakerBuyQuoteAssetVolume", "Ignore"]
df = pd.read_csv(os.path.join(data_folder, sample_csv), names=_columns, index_col="OpenTime")
print(df.dtypes)
print(df.index.dtype)
df.head()

Open                        float64
High                        float64
Low                         float64
Close                       float64
Volume                      float64
CloseTime                     int64
QuoteAssetVolume            float64
NumberOfTrades                int64
TakerBuyBaseAssetVolume     float64
TakerBuyQuoteAssetVolume    float64
Ignore                      float64
dtype: object
int64

,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseAssetVolume,TakerBuyQuoteAssetVolume,Ignore
OpenTime,,,,,,,,,,,
1506816000000,4378.49,4378.49,4339.00,4360.00,13.195468,1506816899999,57370.093406,146,7.680249,33397.293019,11170.668524
1506816900000,4345.15,4377.84,4340.01,4340.01,6.364818,1506817799999,27699.129777,50,2.859068,12456.760041,11179.027668
1506817800000,4340.01,4360.00,4337.00,4340.00,16.289272,1506818699999,70782.427786,136,11.732647,50978.707824,11170.376189
1506818700000,4340.00,4360.00,4337.00,4345.95,13.121092,1506819599999,56953.893504,190,10.567194,45862.984560,11193.348351
1506819600000,4350.00,4350.00,4320.05,4344.95,5.489526,1506820499999,23765.526737,63,0.318926,1385.177723,11177.342875

In [24]:
df.index = df.index // 1000
print(df.index.dtype)
print(df.index[0], df.index[-1])
df.head()

int64
1506816000 1509493500

,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseAssetVolume,TakerBuyQuoteAssetVolume,Ignore
OpenTime,,,,,,,,,,,
1506816000,4378.49,4378.49,4339.00,4360.00,13.195468,1506816899999,57370.093406,146,7.680249,33397.293019,11170.668524
1506816900,4345.15,4377.84,4340.01,4340.01,6.364818,1506817799999,27699.129777,50,2.859068,12456.760041,11179.027668
1506817800,4340.01,4360.00,4337.00,4340.00,16.289272,1506818699999,70782.427786,136,11.732647,50978.707824,11170.376189
1506818700,4340.00,4360.00,4337.00,4345.95,13.121092,1506819599999,56953.893504,190,10.567194,45862.984560,11193.348351
1506819600,4350.00,4350.00,4320.05,4344.95,5.489526,1506820499999,23765.526737,63,0.318926,1385.177723,11177.342875

In [25]:
df = df.sort_index()
df = df.reindex(range(df.index[0], df.index[-1] + 900, 900))
print(df.index[0], df.index[-1])
df.isna().sum().sum()

1506816000 1509493500

0

In [26]:
df.head()

,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseAssetVolume,TakerBuyQuoteAssetVolume,Ignore
OpenTime,,,,,,,,,,,
1506816000,4378.49,4378.49,4339.00,4360.00,13.195468,1506816899999,57370.093406,146,7.680249,33397.293019,11170.668524
1506816900,4345.15,4377.84,4340.01,4340.01,6.364818,1506817799999,27699.129777,50,2.859068,12456.760041,11179.027668
1506817800,4340.01,4360.00,4337.00,4340.00,16.289272,1506818699999,70782.427786,136,11.732647,50978.707824,11170.376189
1506818700,4340.00,4360.00,4337.00,4345.95,13.121092,1506819599999,56953.893504,190,10.567194,45862.984560,11193.348351
1506819600,4350.00,4350.00,4320.05,4344.95,5.489526,1506820499999,23765.526737,63,0.318926,1385.177723,11177.342875

In [30]:
csv_files.sort()

sample1 = csv_files[0]
sample2 = csv_files[1]
print(sample1, sample2)

/Users/akiranoda/projects/crypto_model/EDA/../raw_data/BTCUSDT/BTCUSDT-15m-2017-08.csv /Users/akiranoda/projects/crypto_model/EDA/../raw_data/BTCUSDT/BTCUSDT-15m-2017-09.csv

In [ ]:
df1 = pd.read_csv(sample1, names=_columns, index_col="OpenTime")
df2 = pd.read_csv(sample2, names=_columns, index_col="OpenTime")

print(df1.index[0], df2)